.warehouse-page {
  width: 320px;
  border: solid black 1px;
}
.info {
  width: 320px;
  display: flex;
  flex-direction: column;
  align-self: center;
  &__wharehouse-head {
    display: flex;
    border-bottom: solid 2px grey;
  }
  &__back-btn {
    margin-left: 1rem;
    margin-right: 1rem;
  }

  &__warehouse-loc {
    margin-right: 11rem;
  }

  &__address {
    margin-left: 0.5rem;
  }

  &__edit-btn {
    margin-left: auto;
    margin-right: 2rem;
    margin-top: 1rem;
    border: 1px solid;
    border-radius: 50%;
    background-color: #2e66e5;
    height: 2rem;
    color: white;
  }

  &__contact {
    border-bottom: solid 2px grey;
    display: flex;
    width: 273px;
  }
  &__title {
    color: grey;
  }
  &__contact-name {
    margin-right: 2rem;
    width: 10rem;
    margin-left: 0.5rem;
  }
  &__contact-info {
    width: 7rem;
    margin-right: 0.5rem;
  }
}

.inventory {
  width: 100%;
  // border-bottom: solid 2px grey;
  display: flex;

  //   &__info {
  //   x  display: flex;
  //     justify-content: space-around;
  //   }
  &__item {
    margin-right: 2rem;
    width: 5rem;
    margin-left: 0.5rem;
  }
  //   &__detail {
  //     display: flex;
  //     justify-content: space-around;
  //   }

  &__items {
    display: flex;
    // flex-wrap: wrap;
    // width: 320px;
  }
  &__cat {
    margin-right: 2rem;
    width: 10rem;
    margin-left: 0.5rem;
  }
  &__stats {
    width: 6rem;
  }
  &__qty {
    width: 6;
  }
  &__cta--mobile {
    display: flex;
    justify-content: space-evenly;
    margin: 1rem;
    padding-bottom: 1rem;
    border-bottom: solid 2px grey;
  }
  &__cta--tablet {
    display: flex;
    justify-content: space-between;
    margin: 1rem;
    padding-bottom: 1rem;
    border-bottom: solid 2px grey;
    display: none;
  }
  &__cta--mobile {
    display: flex;
    justify-content: space-between;
    margin: 1rem;
    padding-bottom: 1rem;
    border-bottom: solid 2px grey;
  }

  &__filter {
    display: none;
  }
}

@media screen and (min-width: 768px) {
  .tablet__alignment {
    width: 768px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }
  .info {
    &__address {
      border-right: solid grey;
      padding-right: 3rem;
      margin-top: 1rem;
    }
    &__contact {
      border-bottom: none;
      margin-top: 1rem;
    }
    &__title {
      display: none;
    }
  }
  .inventory {
    display: flex;
    flex-direction: column;
    &__filter {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
    }
    &__item {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
    }
    &__info {
      display: flex;
    }
    &__stats {
      display: flex;
      flex-direction: row;
      width: 5rem;
    }
    &__stock {
      display: flex;
      flex-direction: row;
    }
    &__items {
      display: flex;
      flex-direction: row;
    }
    &__qty {
      margin-left: 4rem;
    }

    &__cta--tablet {
      display: flex;
      justify-content: space-between;
      margin: 1rem;
      padding-bottom: 1rem;
      border-bottom: solid 2px grey;
    }
    &__cta--mobile {
      display: flex;
      justify-content: space-between;
      margin: 1rem;
      padding-bottom: 1rem;
      border-bottom: solid 2px grey;
      display: none;
    }
  }
}
