.info {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-self: center;
  &__wharehouse-head {
    display: flex;
    border-bottom: solid 2px grey;
  }
  &__back-btn {
    margin-left: 1rem;
    margin-right: 1rem;
  }

  &__warehouse-loc {
    margin-right: 11rem;
  }

  &__address {
    margin-left: 0.5rem;
  }

  &__edit-btn {
    margin-left: auto;
    margin-right: 2rem;
    border: 1px solid;
    border-radius: 50%;
    background-color: #2e66e5;
    height: 2rem;
    color: white;
  }

  &__contact {
    border-bottom: solid 2px grey;
    display: flex;
  }
  &__title {
    color: grey;
  }
  &__contact-name {
    margin-right: 2rem;
    width: 10rem;
    margin-left: 0.5rem;
  }
  &__contact-info {
    width: 10rem;
    margin-right: 0.5rem;
  }
}

.inventory {
  width: 100%;
  // border-bottom: solid 2px grey;
  display: flex;

  //   &__info {
  //     display: flex;
  //     justify-content: space-around;
  //   }
  &__item {
    margin-right: 2rem;
    width: 10rem;
    margin-left: 0.5rem;
  }
  //   &__detail {
  //     display: flex;
  //     justify-content: space-around;
  //   }
  &__cat {
    margin-right: 2rem;
    width: 10rem;
    margin-left: 0.5rem;
  }
  &__stats {
    width: 10rem;
  }
  &__qty {
    width: 10rem;
  }
  &__cta {
    display: flex;
    justify-content: space-between;
    margin: 1rem;
    padding-bottom: 1rem;
    border-bottom: solid 2px grey;
  }
  &__filter {
    display: none;
  }
}

@media screen and (min-width: 768px) {
  .tablet__alignment {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }
  .info {
    &__address {
      border-right: solid grey;
      padding-right: 3rem;
      margin-top: 1rem;
    }
    &__contact {
      border-bottom: none;
      margin-top: 1rem;
    }
    &__title {
      display: none;
    }
  }
  .inventory {
    &__filter {
      display: flex;
      justify-content: space-between;
    }
    &__item {
      display: flex;
      flex-direction: row;
    }
    &__info {
      display: flex;
      justify-content: space-between;
    }
  }
}
