@use '../../partials/colors' as *;
@use '../../partials/mixins' as *;
// @use '../../partials' as *;

.form {
  &__container {
    display: flex;
    justify-content: center;
    flex-direction: column;
  }

  &__title {
    @include mobile-subheader;
  }
  &__label {
    @include mobile-body-medium;
  }
  &__input-box {
    width: 295px;
    height: 36px;
    border-radius: 20px;
  }
}

.button {
  display: flex;
  padding: 40px;

  &__cancel {
    height: 36px;
    width: 139px;
    border-radius: 20px;
  }
  &__save {
    height: 36px;
    width: 139px;
    border-radius: 20px;
  }
}
