@use '../../partials/mixins' as *;
@use '../../partials/colors' as *;

.card {
	background-color: $white;
	margin: 20px;
	border: 2px solid black;
	position: absolute;
	top: 136px;
	left: 16px;
	border-radius: 3px;
	// @include tablet {
	// 	justify-content: flex-start;
	// }
	@include tablet {
		height: 612px;
		width: 704px;
		// left: 32px;
		// top: 92px;
	}

	&__edit {
		display: flex;
		justify-content: center;
		width: 75%;
		padding: 20px;
	}
	&__title {
		@include mobile-page-header;
		@include tablet {
			margin-left: 20px;
		}
	}

	// &__container {
	// 	@include tablet {
	// 		display: flex;
	// 		flex-direction: column;
	// 		justify-content: space-between;
	// 		border-top: 2px solid $Cloud;
	// 	}
	// }
}

.form {
	@include tablet {
		display: flex;
	}
	&__container {
		display: flex;
		justify-content: center;
		flex-direction: column;
		padding: 20px;
		// align-items: center;
	}

	&__title {
		border-top: 2px solid $Cloud;
		padding: 20px;
		padding-bottom: 10px;
		@include mobile-subheader;
		@include tablet {
			border-top: none;
		}
	}
	&__label {
		@include mobile-body-medium;
		padding-bottom: 10px;
	}
	&__input-box {
		width: 295px;
		height: 30px;
		border-radius: 20px;
		padding-top: 10px;
	}
}

.button {
	display: flex;
	width: 90%;
	margin-top: 30px;
	background-color: $light-grey;
	padding-left: 20px;
	padding-top: 20px;
	width: 343px;
	height: 68px;

	&__cancel {
		height: 36px;
		width: 139px;
		border-radius: 20px;
		background-color: $white;
		margin-right: 20px;
	}
	&__save {
		height: 36px;
		width: 139px;
		border-radius: 20px;
		background-color: $In-stock-Indigo;
		color: $white;
	}
}
