.itemdetails-wrapper {
  display: flex;
  flex-direction: column;
}

.itemavail-wrapper {
  display: flex;
  flex-direction: column;
  padding-bottom: 1rem;
}
.additems {
  background: #ffffff;
  box-shadow: 0px 2px 5px rgba(19, 24, 44, 0.1);
  border-radius: 3px;
  height: 874px;
  width: 320px;
  left: 16px;
  top: 136px;
  border-radius: 3px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  height: 43rem;
}
.additem {
  &__title {
    margin-right: auto;
    margin-left: 1rem;
    display: flex;
    border-bottom: solid 1px #bdc5d5;

    padding: 2rem 3rem 2rem 0;
  }
  &__label {
    //styleName: M H3;
    font-family: Titillium Web;
    font-size: 13px;
    font-style: normal;
    font-weight: 600;
    line-height: 20px;
    letter-spacing: 0em;
    text-align: left;
  }
  &__name {
    height: 36px;
    width: 295px;
    left: 40px;
    top: 357px;
    border-radius: 20px;
    border: #bdc5d5 1px solid;
  }
  &__des-tile {
    font-family: Titillium Web;
    font-size: 13px;
    font-style: normal;
    font-weight: 600;
    line-height: 20px;
    letter-spacing: 0em;
    text-align: left;
  }
  &__description {
    height: 120px;
    width: 295px;
    left: 40px;
    top: 433px;
    border-radius: 20px;
    border: #bdc5d5 1px solid;
  }
  &__cat-title {
    font-family: Titillium Web;
    font-size: 13px;
    font-style: normal;
    font-weight: 600;
    line-height: 20px;
    letter-spacing: 0em;
    text-align: left;
  }
  &__cat-sel {
    height: 36px;
    width: 295px;
    left: 40px;
    top: 593px;
    border-radius: 20px;
    border: #bdc5d5 1px solid;
  }

  &__radsel {
    //styleName: M P2;
    font-family: Titillium Web;
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0em;
    text-align: left;
    color: #13182c;
  }

  &__radbtns {
    display: flex;
  }
  &__waresel {
    font-family: Titillium Web;
    font-size: 13px;
    font-style: normal;
    font-weight: 600;
    line-height: 20px;
    letter-spacing: 0em;
    text-align: left;
  }
  &__warsel-opts {
    height: 36px;
    width: 295px;
    left: 40px;
    top: 770px;
    border-radius: 20px;
    border: #bdc5d5 1px solid;
  }
  &__cancelbtn {
    height: 36px;
    width: 139px;
    left: 40px;
    top: 838px;
    border-radius: 20px;
    padding: 8px, 51px, 8px, 51px;
    margin-right: 1rem;
  }
  &__savebtn {
    height: 36px;
    width: 139px;
    left: 40px;
    top: 838px;
    border-radius: 20px;
    padding: 8px, 51px, 8px, 51px;
    background: #2e66e6;
    color: white;
  }
}
