$tablet-margin-list: 2rem;

.head {
  display: flex;
  flex-direction: column;
  width: 320px;
  margin-left: auto;
  margin-right: auto;

  &__title {
    height: 36px;
    width: 115px;
    left: 40px;
    top: 168px;
    margin-right: auto;
    margin-left: 1rem;
  }
  &__form {
    display: flex;
    flex-direction: column;
    margin: 1rem;
  }
  &__search-box {
    height: 36px;
    width: 295px;
    left: 40px;
    top: 220px;
    border-radius: 20px;
    background: #ffffff;
    border: 1px solid #bdc5d5;
    box-sizing: border-box;
  }
  &__button {
    border-radius: 10px;
    background-color: #2e66e6;
    color: white;
    margin-top: 1rem;
    height: 36px;
    width: 295px;
    left: 40px;
    top: 272px;
    border-radius: 20px;
    padding: 8px, 103px, 8px, 103px;
  }
}

.filter {
  display: none;
}

@media screen and (min-width: 768px) {
  .filter {
    display: flex;
    list-style: none;
    justify-content: space-around;
    width: 48rem;
    margin-left: auto;
    margin-right: auto;
    align-items: center;
    display: flex;
    justify-content: center;
    width: 45rem;
    margin-left: auto;

    &__sort {
      height: 10px;
    }
    &__item {
      font-family: Titillium Web;
      font-size: 12px;
      font-style: normal;
      font-weight: 600;
      line-height: 18px;
      letter-spacing: 0em;
      color: #5c667e;
      width: 9rem;
      margin-left: 1.5rem;
    }
    &__category {
      font-family: Titillium Web;
      font-size: 12px;
      font-style: normal;
      font-weight: 600;
      line-height: 18px;
      letter-spacing: 0em;
      color: #5c667e;
      width: 6rem;
    }
    &__status {
      font-family: Titillium Web;
      font-size: 12px;
      font-style: normal;
      font-weight: 600;
      line-height: 18px;
      letter-spacing: 0em;
      color: #5c667e;
      width: 6rem;
    }
    &__qty {
      font-family: Titillium Web;
      font-size: 12px;
      font-style: normal;
      font-weight: 600;
      line-height: 18px;
      letter-spacing: 0em;
      color: #5c667e;
      width: 6rem;
    }
    &__warehouse {
      font-family: Titillium Web;
      font-size: 12px;
      font-style: normal;
      font-weight: 600;
      line-height: 18px;
      letter-spacing: 0em;
      color: #5c667e;
      width: 8rem;
    }
    &__actions {
      font-family: Titillium Web;
      font-size: 12px;
      font-style: normal;
      font-weight: 600;
      line-height: 18px;
      letter-spacing: 0em;
      color: #5c667e;
      width: 5rem;
    }
  }
}
