//Primary Colors
$In-stock-Black: #13182c;
$In-stock-Indigo: #2e66e5;
$white: #ffffff;

//Secondary Colors
$Slate: #5c667e;
$Cloud: #bdc505;

//Background Colors
$Graphite-navbar: #232940;
$light-grey: #f7f8f9;

//Supporting Colors
$Green-label: #158463;
$Red-label: #c94515;
